.tabla {
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 2%;
    width: 61%;
    margin-bottom: 60px;
}

/* .edit,.delete{
    /* make separate 10px to each other  */
    margin-left: 25px;
} */