.tabla {
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 2%;
    max-width: 900px;
    /* width: 67%; */
    margin-bottom: 60px;
}

.edit, .delete {
    margin-left: 20px;
}